body{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: #FFFFFF;
	font-size: 14px;
	background-color: #000000;
	
}

#primera-seccion {/*background-color: dimgray;*/ 
		
	
	background-image: url(../img/arco.jpeg);
	background-repeat:no-repeat;
	background-size: cover;
	color: #fff;
	height: 200px;
	text-align: center;
	padding: 200px 0;
	
}

header{
	padding: 20px 0px;
}

#hero{
	
	background-image:url(../img/Overton/Overton/slider-3.jpg);
	background-position: center;
	background-size: cover;
	padding: 200px 0px;
}

#hero h1{
	
	font-size: 80px;
	font-weight: 600
}

#hero p{
	
	font-size: 20px;
}

.btn-rectangulo{
	background-color: transparent;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	border-radius: 0;
	padding: 10px 30px;
	text-transform: lowercase;
	
}

.btn-rectangulo:hover{
	background-color: #fff;
	color: #000000;
	font-weight: 600;
}

#services{
	background-color: #000000;
	background-position: center;
	background-size: cover;
	padding: 170px 0px;
}

#services img{
	margin: 40px 0px;
}

#scroll{
	padding: 100px 0px;
	
}

#scroll .info-scroll{
	text-align: center;
	margin-bottom: 50px;
	
}


#scroll .info-scroll h3{
	font-size: 16px;
	margin: 30px 0px;
	
}


#scroll .info-scroll h4{
	font-size: 20px;
	font-weight: 700;
}

#scroll .info-scroll p{
	font-weight: 300px;
}

#page-header{
	background-color: #0C0C0C;
	color: #FFFFFF;
	padding: 50px 0;
}

#page-header h1{
	font-size: 26px;
}

#content{
	padding: 45px 0;
}